/* GLOBAL */
body {
    margin: 0px;
    background-color: #f5f5f5;
    color: #262626;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 20px;
}

.titulo-secao {
    font-weight: 300;
    margin-bottom: 20px;
    color: #525252;
}

.badge {
    line-height: 1;
    display: inline-block;
    border: 1px solid #262626;
    padding: 5px 10px;
    margin-right: 4px;
}

@media (max-width: 300px) {
    * {
        font-size: 1rem !important;
    }
}

/* FIM GLOBAL */

/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 180px;
}

.header h1 {
    font-size: 32px;
}

#menu {
    display: flex;
    gap: 40px;
}

#menu a {
    display: block;
}

#btn-mobile {
    display: none;
}

@media (max-width: 976px) {
    .header {
        margin-bottom: 120px;
    }
    .header h1 {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    #menu a:hover {
        transform: scale(1.2);
    }
}

@media (max-width: 768px) {
    #menu {
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #f5f5f5;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: 400px;
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        font-size: 20px;
        padding: 8px 0px;
        color: #262626;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        color: #262626;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 4px solid;
        width: 40px;
    }
    #hamburger::after,
    #hamburger::before {
        content: "";
        display: block;
        width: 40px;
        height: 4px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -9px;
    }
}

@media (max-width: 480px) {
    .header {
        margin-bottom: 80px;
        grid-template-columns: 3fr 1fr;
    }
}
/* FIM HEADER */

/* INTRO */

.intro {
    text-align: center;
    margin-bottom: 180px;
}

.intro h2 {
    font-size: 48px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 20px;
}

.intro p {
    font-size: 36px;
    line-height: 1.35;
    font-weight: regular;
}

@media (max-width: 976px) {
    .intro {
        margin-bottom: 120px;
    }
    .intro h2 {
        font-size: 32px;
    }
    .intro p {
        font-size: 24px;
    }
}
@media (max-width: 480px) {
    .intro {
        margin-bottom: 80px;
    }
}

/* FIM INTRO */

/* PROJETOS */

.projeto-foto {
    width: 360px;
    height: 250px;
    background-color: black;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 80px;
}

.projetos-item {
    max-width: 360px;
}

.projetos-item h3 {
    font-size: 24px;
}

.projetos-item p {
    font-size: 16px;
    margin-bottom: 8px;
}

@media (max-width: 1210px) {
    .projetos {
        gap: 40px 20px;
        justify-content: center;
        margin-bottom: 40px;
    }
}
@media (max-width: 976px) {
    .projetos-item h3 {
        font-size: 20px;
    }
}
@media (max-width: 396px) {
    .projeto-foto {
        width: 260px;
        height: 180px;
    }
}

/* FIM PROJETOS */

/* SOBRE */

.sobre {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding: 0px 100px;
    margin-bottom: 100px;
}

.sobre p {
    font-size: 24px;
    line-height: 1.5;
}

.foto-sobre {
    width: 300px;
    height: 312px;
    justify-self: center;
}

@media (max-width: 976px) {
    .sobre {
        grid-template-columns: 1fr;
        padding: 0px;
    }
    .foto-sobre {
        grid-row: 1;
        margin-bottom: 20px;
    }
    .sobre p {
        font-size: 20px;
        text-align: center;
    }
    @media (max-width: 396px) {
        .foto-sobre {
            width: 240px;
            height: 250px;
        }
    }
}

/* FIM SOBRE */

/* FOOTER */

.footer-bg {
    background-color: #262626;
    padding-top: 60px;
    padding-bottom: 60px;
}

footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #f5f5f5;
    align-items: flex-end;
    gap: 60px 20px;
}

footer p {
    font-size: 20px;
    line-height: 1.5;
}

.local::before {
    content: "";
    width: 12px;
    height: 16px;
    background-image: url("./img/local-icon.svg");
    display: inline-block;
    margin-right: 4px;
}

.email {
    font-size: 36px;
    font-weight: 600;
    align-self: center;
    justify-self: end;
}

.icone {
    justify-self: end;
}

@media (max-width: 976px) {
    footer p {
        font-size: 16px;
    }
    .email {
        font-size: 32px;
    }
}
@media (max-width: 768px) {
    footer p {
        grid-column: 1 / -1;
        text-align: center;
    }
    .email {
        grid-column: 1 / -1;
        justify-self: center;
    }
}
@media (max-width: 480px) {
    .email {
        font-size: 24px;
    }
    .local {
        grid-column: 1 / -1;
        justify-self: center;
    }
    .icone {
        grid-column: 1 / -1;
        justify-self: center;
        grid-row: 3;
    }
}
@media (max-width: 396px) {
    .foto-sobre {
        width: 240px;
        height: 250px;
    }
}

/* FIM FOOTER */
